@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050505;
  color: white;
  font-family: 'Arial', sans-serif;
}

.glow-text {
  text-shadow: 0 0 20px rgba(255, 46, 0, 0.5);
}